nghttp2-src
nghttp2-lib
nghttp2-*.tar.gz
curl-src
curl-lib
curl-*.tar.gz
c-ares-src
c-ares-lib
c-ares-*.tar.gz
libbrotli-src
libbrotli-lib
libbrotli-*.tar.gz
constants.inc
curlopt-*.inc

blib
YACurl.c
*.o
*.bs
Makefile
Makefile.old
MANIFEST
MYMETA.json
MYMETA.yml
pm_to_blib
